<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/head') %>

  <body>
    <%- include('./includes/navbar')%>
    <main><%- include('./includes/main1') %></main>

    <!-- products -->
    <%- include('./includes/mainProducts') %>

    <!-- footer -->
    <%- include('./includes/footer') %>

    <!-- sign in modal -->
    <%- include('./includes/signIn')%>

    <!-- cart modal -->
    <%- include('./includes/cart') %>

    <!--  -->
    <!-- <%- include ('screenSaver') %> -->

    <!--  -->
    <!-- <%- include('./includes/exchange_rate')%> -->
  </body>
</html>
